/*google font popins*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    filter: blur();
    background-color: #4aac6e;
    }
 body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #4aac6e;
 }
 .profile-card{
    display:flex;
    flex-direction: column;
    align-items:center;
    max-width: 370px;
    width: 100%;
    background-color: #4aac6e;
    border-radius: 24px;
    padding: 25px;
    box-shadow:0 5px 10px rgba(0,0,0.1) ;
 }
 

.image{
    position: reaaltive;
    height: 150px;
    width: 150px;
     border-radius:50% ; 
     background: #4aac6e;
     padding: 3px;
     margin-bottom: 10px;
}

.image  .profile-img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius:50%;
    border: 3px solid #c1bcbc;
}
.profile-card .text-data
{
    display:flex;
    flex-direction: column;
    align-items:center;
    color:#333;
}
.text-data .name{
    font-size: 22px;
    font-weight: 400;
}
.text-data .proffesion{
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-button
{
    /* display: flex; */
    align-items: center;
    margin-top:15px;
}

.media-button .link
{
    padding-left: 4px;
    font-size:18px ;
    justify-items: center;
    /* display: flex; */
    height: 34px;
    margin: 0 8 px;
    /* background-color: #4070f4; */
    color: #000000;
    text-decoration: none;
}